<div class="top-bar foundation-5-top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <%= link_to "Alpha blog", root_path, class: "top-bar-title" %>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
        <li><%= link_to "Articles", articles_path %></li>
        <% if logged_in? %>
          <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
            <li>
          <a href="#">Actions</a>
          <ul class="menu">
            <li><%= link_to "New Article", new_article_path %>
            <li><a href="#">Two</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Your Profile</a>
          <ul class="menu">
            <li><%= link_to "Edit your profile", edit_user_path(current_user) %>
            <li><%= link_to "View your profile", user_path(current_user) %></li>
          </ul>
        </li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>


