<% if @article.errors.any? %>
<h2>The following errors prevented the article from being created</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<div class="row">
  <div class="small-12 column">
      <%= form_for(@article, :html => {class: "callout text-center", role: "form"}) do |f| %>
        <div class="floated-label-wrapper">
          <%= f.text_field :title, placeholder: "Title of article" %>  
        </div>
         <div class="floated-label-wrapper">
          <%= f.text_area :description, rows: 10, placeholder: "Description" %>
         </div> 
  
  <%= f.submit %>



<% end %>
    <div class="small-8 column">
    <%= link_to 'Back to article listing', articles_path %>
    </div>
  </div>
</div>


