<% if @article.errors.any? %>
  <div class="row">
    <div class="small-8 column">
      <div class="alert-box callout alert">
        <div class="fa fa-ban">
          <h3 ><%= pluralize(@article.errors.count, "error") %>
          prohibited this artice from being saved:
          </h3>
          <h6>The following errors prevented the article from being created</h6>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
               <% end %>
          </ul>
          <% end %>
          </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="small-12 columns">
      <%= form_for(@article, :html => {class: "callout text-center", role: "form"}) do |f| %>
        <div class="floated-label-wrapper">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: "Title of article" %>  
        </div>
         <div class="floated-label-wrapper">
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: "Description", rows: 10 %>
         </div> 
          <div class="small-12 columns">
            <%= f.submit class: "button" %>
          </div>
    <% end %>
      <div class="small-12 columns">
      [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
      </div>
  </div>
</div>


