<h1 align="center" style="font-family: Oswald">Signup for Alpha Blog</h1>
<% if @user.errors.any? %>
  <div class="row">
    <div class="small-8 column">
      <div class="alert-box callout alert">
        <div class="fa fa-ban">
          <h3 ><%= pluralize(@user.errors.count, "error") %>
          prohibited this user from being saved:
          </h3>
          <h6>The following errors prevented the user from being created</h6>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
               <% end %>
          </ul>
          <% end %>
          </div>
        </div>
      </div>
    </div>

<div class="row">
  <div class="small-8 columns">
      <%= form_for(@user, :html => {class: "callout text-center", role: "form"}) do |f| %>
        <div class="floated-label-wrapper">
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: "username" %>  
        </div>
         <div class="floated-label-wrapper">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "email" %>
         </div> 
         <div class="floated-label-wrapper">
          <%= f.label :password %>
          <%= f.text_field :password, placeholder: "password" %>
         </div> 
          <div class="small-8 columns">
            <%= f.submit "Sign up", class: "button" %>
          </div>
    <% end %>
      <div class="small-12 columns">
      [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
      </div>
  </div>
</div>

